:root {
  --primary-text-color: #3C444F;
  --secondary-text-color: #F22D34;
  --white-text-color: #FFFFFF;
  --third-text-color: #F4F4F4;
  --yellow-text-color: #F3EB5B;
  --primary-background-color: #f0f0f0;
}