@media (max-width: 425px) {
  div.contacts_container {
    display: block;
  }

  div.contacts_container div {
    margin-bottom: 10px;
  }
}

@media (max-width: 768px) {
  div.contacts_container div p {
    text-align: start;
  }
}

@media (min-width: 768px) {
  div.form_container {
    display: flex;
    flex-direction: column;
    align-self: center;
  }
}

.form_container {
  width: 100%;
  padding: 25px 50px;
  border: solid 1px var(--bs-border-color);
  border-radius: 10px;
}

.form_container form {
  margin-top: 15px;
}

.submit_button {
  background-color: var(--secondary-text-color);
  border: none;
  margin-top: 25px;
  width: 100%;
}

.submit_button:hover {
  background-color: var(--secondary-text-color);
}

.col {
  margin-bottom: 20px;
}

.col label {
  margin: 0;
  display: flex;
  font-size: medium;
  font-weight: bold;
}

.comments_section label {
  margin: 0;
  display: flex;
  font-size: small;
  font-weight: bold;
}

.other_contacts {
  margin-top: 20px;
  margin-bottom: 15px;
}

.other_contacts_text {
  font-size: small;
  font-weight: bold;
  text-align: start;
}

.contacts_container {
  display: flex;
  justify-content: space-between;
}

.contacts_container div {
  display: flex;
  align-items: center;
}

.contacts_container div p {
  margin: 0;
  font-size: small;
}

.contacts_container div img {
  margin-right: 5px;
  text-align: start;
}
