body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.fs-normal {
  font-size: medium;
}

.fs-xl {
  font-size: x-large;
}

.fs-xxl {
  font-size: xx-large;
}
.ff-poppins-bold{
  font-family: "Poppins-bold";
}
.ff-poppins-black{
  font-family: "Poppins-black";
}